<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 fixed-bottom">

  <hr>

  <!-- Social buttons -->
  <div class="center">
    <h6>Our social links:</h6>
  </div>
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="btn-floating btn-fb mx-1">
        <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-tw mx-1">
        <a href="https://twitter.com/?lang=pl" class="fa fa-twitter"></a>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="btn-floating btn-ins mx-1">
        <a href="https://www.instagram.com/?hl=pl" class="fa fa-instagram"></a>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->

  <hr>

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <h5>©2020-2021 Copyright: Jakub Zięba & Mykola Pylypenko</h5>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
